 @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lobster&family=PT+Serif&family=Roboto:wght@100&display=swap');

:root{
    --negro: #04020c;
    --blanco: #fff;
    --morado: rgb(0, 15, 226);
    --azul: #003172c7;
    --amarillo:#e9c007;
    --degradado:linear-gradient(90deg,var(--negro),var(--morado));
}
*{
    font-family: 'PT Serif', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: uppercase;
    
}
::selection{
    background: var(#095080);
    color: transparent;
}
html{
    font-size: 80%;
    overflow: autos;
}

body{
  background-color: var(--blanco);
}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;

}
.btn{
    display: inline-table;
    margin-top: 5%;
    padding: 1em;
    border-radius: 10px 100px / 120px;
    background: linear-gradient(to right,rgb(171, 185, 194),rgb(129, 233, 10) );
    font-size: 2rem;
    color: rgb(1, 2, 17);
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0,.1);
    transition: all .3s linear;
}
.btn:hover{
    transform: scale(0.5) translate(-100%, -100%);
}
    
.heading{
    text-align: center;
    background: rgb(0, 15, 226);
    color:var(--blanco);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}
.inicio{
    display:flex;
    background: url(depositphotosss_195681666-stock-illustration-rc-logo-swoosh-ellipse-green.jpg);
    background-repeat: no-repeat;
    background-position:right ;
    
}

.inicio .router img{
    animation: float 3s linear infinite;
    
    
}
@keyframes float{
    0%, 100%{
        transform:translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}

header{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0,.1);
    padding: 1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-size: 5rem;
    color:rgb(129, 233, 10);
}

header .logo span{
    color: var(--negro);
    }

header .navbar a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color: var(--negro);
}

header .navbar a:hover{
    color: rgb(129, 233, 10)
}

header input{
    display: none;
}
header label{
    font-size: 3rem;
    color: var(--blanco);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.inicio .content h1{
    font-size: 3rem;
    background:transparent;
    background: linear-gradient(to right,black 45%,rgb(0, 15, 226) 65%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
    margin-top: 70%;
    
}
.inicio .content h3 {
    background:transparent;
    background: linear-gradient(to right,black 45%,rgb(0, 15, 226) 65%);
    font-size: 1.4rem;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

  }
  
.inicio .router img{
    max-width: auto ;
    max-height: auto ;
    object-fit: cover;
}


/*RESPONSIVE*/
@media(max-width:1200px){
    html{
        font-size: 50%;
    }

}
@media(max-width:768px){
    header label{
        visibility: visible;
        opacity: 1;
    }
    header .navbar{
        position:static;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgb(0, 0, 0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }
    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
        align-content: to left;
    }
    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }
    header input:checked ~ label::before{
        content: '\f00d';
    }
    .inicio{
        flex-flow: column-reverse;
    }
    .inicio .router img{
        width: 	100%;
    }
    .inicio .content h1{
        
        font-size: 10rem;
        color: var(--azul);
        
    }
    .inicio .content h3{
        font-size: 5rem;
        color:var(--amarillo);
    }
    .btn{
        display: inline-block;
        margin-top: 2.5rem;
        padding: 1.1rem 3rem;
        border-radius: 5rem;
        background: black;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
        box-shadow: 0 .5rem 1rem rgb(0, 0, 0,.1);
        transition: all .3s linear;
    }
}
@media(max-width:450px){
    html{
        font-size: 49%;
    }
    
}